services:
  - type: web
    name: cafe-backend
    env: java
    region: oregon
    plan: free
    buildCommand: cd Backend && ./mvnw clean package -DskipTests
    startCommand: cd Backend && java -Dserver.port=$PORT -jar target/*.jar
    envVars:
      - key: SPRING_DATASOURCE_URL
        sync: false
      - key: SPRING_DATASOURCE_USERNAME
        sync: false
      - key: SPRING_DATASOURCE_PASSWORD
        sync: false
      - key: SERVER_PORT
        value: 8080
